* {
	cursor: url(Cursors/Default.png), auto;
}

html {
	cursor: url(Cursors/Default.png), auto;
}


body {
	cursor: url(Cursors/Default.png), auto;
}

a {
	cursor: url(Cursors/Default.png), auto;	
}

div {
	cursor: url(Cursors/Default.png), auto;		
}

input {
	cursor: url(Cursors/Default.png), auto;			
}